# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

serie = pd.Series(lst)

print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

serie = pd.Series(lst)

tercer_valor = serie[2]

print(tercer_valor)

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [5]:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b)


print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Crear un DataFrame de Pandas
df = pd.DataFrame(b)

# Nombres de las nuevas columnas
column_names = ["A", "B", "C", "D", "E"]

# Renombrar las columnas del DataFrame
df.columns = column_names

# Mostrar el DataFrame con las nuevas columnas
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [7]:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Crear un DataFrame de Pandas
df = pd.DataFrame(b)

# Nombres de las columnas
column_names = ["Puntuación 1", "Puntuación 2", "Puntuación 3", "Puntuación 4", "Puntuación 5"]

# Renombrar las columnas del DataFrame
df.columns = column_names

# Crear un subconjunto del DataFrame con solo las columnas Puntuación 1, 3 y 5
subset_df = df[["Puntuación 1", "Puntuación 3", "Puntuación 5"]]

# Mostrar el subconjunto del DataFrame
print(subset_df)

   Puntuación 1  Puntuación 3  Puntuación 5
0          53.1          67.5          78.4
1          61.3          30.8          87.6
2          20.6          44.2          91.8
3          57.4          96.1          69.5
4          83.6          85.4          35.9
5          49.0           0.1          89.1
6          23.3          95.0          26.9
7          27.6          53.8          68.5
8          96.6          53.4          50.1
9          73.7          43.2          34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [8]:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b)

column_names = ["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"]

df.columns = column_names

average_score_3 = df["Score_3"].mean()

print(f"El valor promedio de Score_3 es: {average_score_3}")

El valor promedio de Score_3 es: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [9]:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b)

column_names = ["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"]

df.columns = column_names

max_score_4 = df["Score_4"].max()

print(f"El valor máximo de Score_4 es: {max_score_4}")

El valor máximo de Score_4 es: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [10]:
df = pd.DataFrame(b)

column_names = ["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"]

df.columns = column_names

mean_score_2 = df["Score_2"].mean()

print(f"El valor promedio de Score_2 es: {mean_score_2}")

El valor promedio de Score_2 es: 50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [12]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [13]:
df_orders = pd.DataFrame(orders)

total_quantity = df_orders['Quantity'].sum()

total_revenue = df_orders['Revenue'].sum()

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [14]:
df_orders = pd.DataFrame(orders)

max_price = df_orders['UnitPrice'].max()

min_price = df_orders['UnitPrice'].min()

price_difference = max_price - min_price

## Carguemos otro conjunto de datos para más ejercicios

In [16]:
# Tu código aquí
admissions = pd.read_csv('Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [20]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [21]:

missing_values = df.isnull().sum()

print("Valores faltantes en cada columna:")
print(missing_values)

Valores faltantes en cada columna:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [19]:
df = pd.DataFrame(data)

# Establecer la columna 'Serial No.' como índice sin eliminarla
df.set_index('Serial No.', drop=False, inplace=True)

# Mostrar el DataFrame para verificar
print(df)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  \
Serial No.
1                    1        337          118                  4  4.5  4.5
2                    2        316          104                  3  3.0  3.5
3                    3        322          110                  3  3.5  2.5
4                    4        314          103                  2  2.0  3.0
5                    5        330          115                  5  4.5  3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1             0.92
2           8.00         1             0.72
3           8.67         1             0.80
4           8.21         0             0.65
5           9.34         1             0.90

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [22]:
df = pd.DataFrame(data)

# Establecer la columna 'Serial No.' como índice sin eliminarla
df.set_index('Serial No.', drop=False, inplace=True)

# Filtrar el DataFrame para encontrar las filas donde CGPA > 9 y Research = 1
filtered_df = df[(df['CGPA'] > 9) & (df['Research'] == 1)]

# Contar el número de filas que cumplen con las condiciones
num_rows = filtered_df.shape[0]

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [23]:
df.set_index('Serial No.', drop=False, inplace=True)

# Filtrar el DataFrame para encontrar las filas donde CGPA > 9 y SOP < 3.5
filtered_df = df[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]

# Calcular la probabilidad media de admisión para estos solicitantes
mean_admit_chance = filtered_df['Chance of Admit'].mean()

# Imprimir las filas filtradas y la probabilidad media de admisión
print("Filas donde CGPA es mayor a 9 y SOP es menor a 3.5:")
print(filtered_df)

Filas donde CGPA es mayor a 9 y SOP es menor a 3.5:
Empty DataFrame
Columns: [Serial No., GRE Score, TOEFL Score, University Rating, SOP, LOR, CGPA, Research, Chance of Admit]
Index: []